
header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  background-color: #C89D6C;
  color:#fff;
}
header .h1-control{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
header h1 {
  font-size: 20px;
  font-weight: 400;
} 
header .btn-cover {
  width: 20%;
  height: 30px;
  margin-bottom: 10px;

}
header .btn-cover .back-btn{

}

header .none {
  width: 20%;
  height: 30px;
  /* 헤더 화면 정렬을 위한 태그 */
}

.middletext {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* sub-header  */

.sub-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 16px;

}

.sub-header .content-text {
  width: 20%;

}

.sub-header .content-type {
  width: 20%;

}
.sub-header .content-loacation {
  width: 20%;
}


.content-picture{
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-picture img{
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotion{
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #ddd;
  
}
.emotion .Like {
  width: 50%;
  height: 30px;
  color: #C89D6C;
  margin-right: 30px;
}



.emotion .hashtag {
  font-size: 16px;
  color:grey;
}
.emotion .textbox {
  width: 100%;
  height: 60px;
  font-size: 18px;
  margin-bottom: 10px;
  overflow-y: scroll;
  background-color: #F7F7F7;
  font-size: 19px;
  font-weight: 400;
  transition: 1s;
}
.emotion .textbox:hover {
  width: 100%;
  height: 100px;
}
.emotion .emotion-select {
  width: 100%;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.emotion .emotion-select a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  transition: 1s;

}


.emotion .combine {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.emotion .delete {
  
}

.comment-area {
  width: 100%;
  height: 50px;
}

#comment {
  width: 100%;
  height: 50px;
  border-style: none;
  color:#000;
  font-size: 15px; 
  font-weight: 400;
  border-bottom: 1px solid  #ddd ;

}
#comment:hover {
  outline: none;
  background-color: #F7F7F7;
}

.comment-btn button {
  width: 20%;
  height: 20px;
  font-size: 15px;
  border: 1px solid #C89D6C;
  background-color: #C89D6C;
  color:#fff;
  border-radius: 10px;
  
}



.comment-area .comment-btn a{
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  transition: 1s;
}
.comment-area .comment-f {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  border: 1px solid #ddd;
  overflow: scroll;
  font-size: 16px;

}
.comment-area .comment-f >li {
  width: 100%;
  height: 5px;
  text-decoration: none;
  list-style: none;
  border-top: 2px solid #C89D6C;
  margin-top: 5px;
 
}
