html {
  font-size: 10px;
}

#map {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

body {
  width: 100%;
  height: 100%;
}

.block-off {
  display: none;
}

header {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  background-color: #fff;
}
header .text-box {
  display: block;
  z-index: 2;
  position: absolute;
}
header .text-box h1 {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-left: 80px;
  color: #000;
}
header .button-design {
  width: 60px;
  height: 30px;
  padding: 0;
  border-radius: 100px;
  border: 2px solid #ddd;
  background-color: #c89d6c;
  position: relative;
  z-index: 3;
  color: #fff;
  margin-left: 10px;
}
header .button-design > a {
  text-decoration: none;
  color: #fff;
}
