/* 
 font : 10px
 basic-color : #C89D6C
 size : 375 * 667
 */
 
html{
  font-size: 10px;
}

body{
  background-color:rgb(234, 241, 208);
}

/* header 영역  */
/* header => 메뉴 , 검색 기능 */
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu-btn {
  width: 11%;
  height:40px;
  background-color:#fff;
  border-radius: 90px;
  margin-top: 17px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-btn a {

}

/* header - 검색기능  */
header .input-box {
  width: 83%;
  margin-left: 15px;
  margin-top: 15px;
}

header .input-box .box-size{
  width: inherit;
  height: 30px;
  border-radius: 13px;
  border:1px solid #fff;
  padding-left: 20px;
  box-shadow: 2px 2px 2px#ddd;
  
}
header .input-box .box-size:focus{
  outline: none;
}

/* container 영역 */

.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .item {
  width: 50px;
  height: 20px;
  background-color: #fff;
  border:1px solid #fff;
  box-shadow: 2px 2px 2px rgb(229, 231, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 10px;
}
.container .item a{
  text-decoration: none;
  font-size: 10px;
  color: #000;
  cursor: pointer;
}

.container .item:hover{
  background-color:#C89D6C;
  transition: 1s;
  font-weight: bold;
  color: #fff;
}



/* footer 
  footer => 버튼 요소 3개 
 */

 footer {
  display: flex;
  width: 100%;
  height: 300px;
  
  margin-top: 300px;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
 }

 footer .click{
  width: 40px;
  height: 40px;
  border : 1px solid #fff;
  border-radius: 100px  ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 20px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px #ddd;
 }

footer .click1{
 /* 유해종사진이나 텍스트 */
 }
footer .click2{
 /* 희귀종사진이나 텍스트 */
}
footer .click3{
   margin-top: 60px;
   background-color: #C89D6C;
   background-size: contain;
}