html{
  font-size: 10px;
}


header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  text-align: center;
}


header h1 {
  font-size: 20px;
  font-weight: 400;
}


header .back-btn {
  width: 15%;
  height: 40px;
  background-position: center;
}
header .back-btn img{
 background-size: cover;
}



header .upload-btn{
  width: 15%;
  height: 20px;
  background-color: #C89D6C;
  border:1px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  box-shadow: 5px 5px 5px #ddd;
}
header .upload-btn a{
  text-decoration:none;
  font-size: 13px;
  color: #fff;
  
}

header .back-btn img {
  
  width: 20px;
  height: 20px;
  background-image: url(./images/outline_arrow_back_ios_black_24dp.png);
}


section {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
section .insert-name{
 width: 60%;
 height: 50px;
 display: flex;
 justify-content: left;
 align-items: center;
}
section .insert-name .name-box{
  width: 60%;
  padding-left: 20px;
  height: 20px;
  outline: none;
  font-size: 18px;  
  border:0 solid black;
}

.insert-contents{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
  display: flex;

  
}
.insert-contents .text-control{
  margin-left: 20px;
}
.insert-contents .content-text{
  width: 200px;
  height: 100px;
  border: 0px solid black;
  outline: none;
}
.insert-contents .content-picture {
  width: 70px;
  height: 70px;
  border:1px solid rgb(177, 176, 176);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  
}

.insert-contents .content-picture .upload-btnp{
  width: 85%;
  height: 18px;
  background-color: #C89D6C;
  border:1px solid #fff;
  margin-top: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #ddd;
}
.insert-contents .content-picture .upload-btnp a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.animaltype {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
}

#type {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.select-place {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.animals{
  font-size: 13px;
  font-weight: 400;
  margin-right: 8px;
}
#animal{
  width: 80px;
  height: 20px;
}

.location{
  display: flex;
  justify-content: center;
  align-items: center;
}
