@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html{
  font-family:'NanumSquare',san-serif;
}
.main-wrapper{
  display : flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  margin-top:3%;
  display:flex;
  justify-content: center;
}

.logo{
  color:rgb(200, 157, 108);
  font-size: 20px;
}

.input-container{
  margin-top:30px;
  display : flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-id{
  margin-top:30px;
  width:70%;
  height:40px;
  text-align: center;
}
.input-password{
  margin-top:10%;
  width:70%;
  height:40px;
  text-align: center;
}
.button-container{
  margin-top:10%;
  display : flex;
  justify-content: center;
}


.btn-go-signup{
  background-color:white;
  color:black;
  width:30%;
  height:30px;
  border-radius: 5px;
  border:0;
  box-shadow: 2px 2px 5px gray;
  margin-right:3%;
}
.btn-login{
  background-color:rgb(200, 157, 108);
  color:white;
  width:30%;
  height:30px;
  border-radius: 5px;
  border:0;
  box-shadow: 2px 2px 5px gray;
  margin-left:3%;
}