<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.css">
  <title>login</title>
</head>
<body>
  <div class = "main-wrapper">
    <div class = "header">   <!--로고-->
      <a class ="logo">Zootopia</a>
    </div>
    <div class = "input-container"> <!-- 메인 시작 -->
      <input placeholder="아이디" class ="input-id" type="text">  <!--아이디 입력-->
      <input placeholder="비밀번호" class="input-password" type="password"> <!-- 비밀번호 입력 -->
    </div>
    <div class = "button-container"><!-- 회원가입 로그인 버튼 -->
        <button type="button" class="btn-go-signup">회원가입</button>
        <button type="button" class="btn-login">로그인</button>
    </div>
    </div>
  </div>
</body>
</html>
