{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/profile.css'%}">
  <title>account</title>
</head>
<body>
  <!--헤더 시작 -->
    <div id = "header-wrapper">  
      <div class ="btn-back">
        <img src="{% static 'image/back.png' %}"> <!-- 뒤로가기 버튼 -->
      </div>
      <a class ="logo">Zootopia</a>
      <div class="blank"><!--빈공간--></div>
    </div>
  <!-- 헤더 끝 -->
  
  <!-- 메인 시작 -->
  <div id="main-wrapper">

    <!-- id 카드 시작 -->
    <div id="id-card">
      <div class = "profile-picture">
        <img src="{% static 'image/profile.png' %}"> <!-- 프로필 이미지 넣는 공간-->
      </div>
      <div class = "profile-content">  
        <div class = "blank">
        </div>
        <div class="profile-name">
          <h3>이지혁 님</h3>               <!-- 작성자 이름 넣는 공간 -->
        </div>
        <div class = "blank">
        </div>
      </div>
      <div class = "my-introduce">
        <h5>profile-massage </h5> <!-- 내 소개 넣는 공간 -->
      </div>
      <div class = "my-post">
        <h4>My post</h4>        <!-- 내가 작성한 글? -->
      </div>
      <div class = "btn-modifi">   <!-- 프로필 수정 버튼 -->
        <button>edit</button>
      </div>
    </div> <!-- id 카드 끝 -->
  </div>
  <!-- 메인 끝 -->
</body>
</html>