{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/profile-edit.css'%}">
  <title>account</title>
</head>
<body>
  <!--헤더 시작 -->
    <div id = "header-wrapper">  
      <div class ="btn-back">
       <a href="{% url 'profile'%}"> <img src="{% static 'image/back.png' %}"></a> <!-- 뒤로가기 버튼 -->
      </div>
      <a class ="logo">동심|動心</a>
      <div class="blank"> <a href = "{% url 'logout'%}">Logout</a></div>
    </div>
  <!-- 헤더 끝 -->
<!-- 프로필 텍스트 : 프로필 페이지임을 확인시켜주는 문구 -->
    <div class="profiletext">
      <h1>프로필</h1>
    </div>

  <!-- 메인 시작 -->
  <div id="main-wrapper">

    <!-- id 카드 시작 -->
    <form method="Post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="id-card">
      <div class = "profile-picture">
        {% if person.profile_picture %}
          <img src="{{ person.profile_picture.url }}"> <!-- 프로필 이미지 넣는 공간-->
        {% else %}
          <img src="{% static 'image/profile.png' %}">
        {% endif %}
        <div class="button">
              <input type="file" name = "profile_picture">
        </div>
      </div>
                
      <div class = "profile-content">  
        <div class = "blank">
        </div>
        <div class="profile-name">
          <input type="text"placeholder="닉네임" name="nickname" value={{person.nickname}}></input>           <!-- 작성자 이름 넣는 공간 -->
        </div>
        <div class = "blank">
        </div>
      </div>
      <div class = "my-introduce">
        <input type="text" placeholder="내 소개" class="introduce-style"  name="introduce" value={{person.introduce}}></input>   <!-- 내 소개 넣는 공간 -->
      </div>
      <div class = "btn-modifi">   <!-- 프로필 수정 버튼 -->
        <button type="submit">프로필 수정</button>
      </div>
    </div> <!-- id 카드 끝 -->
    </form>
  </div>
  <!-- 메인 끝 -->
</body>
</html>