@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html{
  font-family:'NanumSquare',san-serif;
}
#main-wrapper{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#body-wrapper{
  margin-top:10px;
  background-color: rgba(245, 251, 255, 0.5);
  border: 1px solid gray;
  border-radius: 6px;
  width:300px;
  height:350px;
}
.text-name{
  margin-right:217px;
  margin-bottom: 0px;
  color:rgba(0,0,0,0.5);
}
.text-id{
  margin-right:230px;
  margin-bottom: 0px;
  color:rgba(0,0,0,0.5);
}

.text-password{
  margin-right:170px;
  margin-bottom: 0px;
  color:rgba(0,0,0,0.5);
}

.text-password-confirm{
  margin-right:187px;
  margin-bottom: 0px;
  color:rgba(0,0,0,0.5);
}
.signup-text{
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}


#header-wrapper{
  margin-top:3%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  color:rgb(200, 157, 108);
  font-size: 30px;
}

.input-container{
  display : flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-id{
  display: flex;
  text-align:left;
  width:250px;
  height:30px;
  margin-top: 0px;
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
}
.input-id::placeholder{
  font-family: 'Roboto', sans-serif;
}
.input-password{
  width:250px;
  height:30px;
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
}

.input-password::placeholder{
  font-family: 'Roboto', sans-serif;
}
.button-container{
  display : flex;
  justify-content: center;
}

.btn-create{
  margin-top:20px;
  background-color:rgb(200, 157, 108);
  color:white;
  width:250px;
  height:30px;
  border-radius: 5px;
  border:0;
  box-shadow: 2px 2px 5px gray;
  margin-left:3%;
}

#login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  color:rgb(200, 157, 108);
  width:300px;
  height:40px;
  border: 1px solid rgba(0, 0, 0,0.5);
  border-radius: 6px;
  background-color: rgba(245, 251, 255, 0.5);
}