@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html{
  font-family:'NanumSquare',san-serif;
}


#header-wrapper{
  margin-top:3%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-back{ 
  width: 25px;
  height: 25px;
  flex: 1;
}
.logo{
  color:rgb(200, 157, 108);
  display: flex;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  flex:1;
}

.blank{
  flex:1;
}

.profile-content{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-name{
  text-align: center;
  flex:1
}

.btn-modifi{
  display: flex;
  justify-content: flex-end;
  flex:1
}

.btn-modifi button{
  margin-top: 80px;
  color:white;
  font-size: 15px;
  width:150px;
  height:30px;
  border-radius: 5px;
  border:0;
  box-shadow: 2px 2px 5px gray;
  background-color:rgb(200, 157, 108);
}

#main-wrapper{
  margin-top:30px;
  width: 100%;
  height:520px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#id-card{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height:520px;
  border: solid  rgba(200, 157, 108, 0.5);
  border-width: 0.5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  background-color: rgba(245, 251, 255, 0.5);
}

.profile-picture img{
  margin-top: 40px;
  width: 60px;
}

#main-wrapper{
  display:flex;
  justify-content: flex-start;

}

.my-introduce{
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  border: solid  rgba(200, 157, 108, 0.5);
  border-width: 0.5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.my-introduce h5{
  margin-top: 2px;
  font-family: 'Roboto', sans-serif;
}

.my-post{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: solid  rgba(200, 157, 108, 0.5);
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.my-comment {
  display: flex;;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  border-top: solid rgba(200, 157, 108, 0.5);
  border-bottom: solid rgba(200, 157, 108, 0.5);
  border-width: 0.5px;
}