@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html{
  font-family:'NanumSquare',san-serif;
}


#header-wrapper{
  margin-top:3%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profiletext {
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profiletext h1{
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  color: black;
  font-weight: 800;
}

.btn-back{ 
  width: 25px;
  height: 25px;
  flex: 1;
}
.logo{
  color:rgb(200, 157, 108);
  display: flex;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  
}

.blank{
  flex:1;
}

.blank a{
  text-decoration-line: none;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  margin-left: 60px;
  transition: 1s;
}
.blank a:hover{
  font-weight: 900;
}

.profile-content{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-name{
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.profile-name input{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgb(200, 157, 108);
  text-align: center;
  font-size: 17px;
}
.profile-name input:hover{
  background-color: rgb(200, 157, 108);
  color: #fff;
}
.profiletext > h1{
  color: #000000;
}
.button {
  margin-right: 10px;
}
.btn-modifi{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}
.btn-style >a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.btn-style {
  width: 100px;
  height: 40px;
  background-color:rgb(200, 157, 108);
  display: flex;
  justify-content: center;
  align-items: center ;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #ddd;
}

.btn-modifi button{
  margin-top: 50px;
  margin-bottom: 50px;
  color:#fff;
  font-size: 15px;
  width:150px;
  height:30px;
  border-radius: 15px;
  border:1px solid #fff;
  box-shadow: 2px 2px 5px gray;
  background-color:rgb(200, 157, 108);  
  transition: 1s;
  font-weight:700 ;
}
.btn-modifi button:hover{
  background-color: rgb(200, 157, 108);
  color: #fff;
}


#main-wrapper{
  margin-top:30px;
  width: 100%;
  height:520px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#id-card{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height:90%;
  border:1px solid rgb(200, 157, 108);
  margin-bottom: 50px;
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  background-color: rgba(245, 251, 255, 0.5);
}

.profile-picture {
  margin-left: 200px;
}
.profile-picture img{
  margin-top: 40px;
  width: 60px;
}

#main-wrapper{
  display:flex;
  justify-content: flex-start;

}

.my-introduce{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(200, 157, 108);
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.my-introduce h5{
  margin-top: 2px;

}

.introduce-style{
  width: 99%;
  height: 100%;
  font-size: 20px;
  font-weight: 800;
  outline: none;
  border: 1px solid rgb(200, 157, 108);
}

.my-comment {
  display: flex;;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  border-top: solid rgba(200, 157, 108, 0.5);
  border-bottom: solid rgba(200, 157, 108, 0.5);
  border-width: 0.5px;
}