{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <title>Detail</title>
</head>
<body>

    <header>
      <div class="btn-cover">
        <div class="back-btn">
          <a href="#"><img src="{%static 'image/back.png' %}" alt=""></a>
        </div>
      </div>
      <div class="h1-control">
        <h1>게시물</h1>
      </div>
      <div class="none">
      </div>
    </header>

    <div class="sub-header">
        <div class="content-text">
          <p><p>{{post.name}}</p>  </p> <!-- 동물 이름 -->
        </div>
        <div class="content-type">
          <p>{{post.species}}</p>  <!-- 동물 종 -->
        </div>
        <div class="content-loacation">
          <p></p>  
        </div>
    </div>

    <div class="content-picture">
     {%if post.image%}
       <img src="{{ post.image.url }}">
     {% else %}
       <!-- 메인 사진 -->
     {%endif%}
    </div>
    <!-- 좋아요 해시태그 등 -->
    <div class="emotion">
      <div class="emotion-select">
        <div class="hashtag">
          {{post.hash_tag}}        <!-- 해시태그 --> 
        </div>
        <div class="Like">
          <a href = "{% url 'post_like' post.id %}">{{message}}</a>
          {{post.likes.count}}명이 좋아합니다!
        </div>
        <div class="hate">
        
        </div>

        <div class="delete">
          {%if post.id == user.id%}
          {%endif%}
           <a href="{% url 'edit' post.id %}">수정 임시 버튼</a>   <!-- 수정 --> 
           <a href="{% url 'delete' post.id %}">삭제 임시 버튼</a>   <!-- 삭제 -->
        </div>
    </div>

      <div class="etc">
        <div class="etc1">
          <p></p>  
        </div>

        <div class="textbox">
           <p>{{post.body}}</p>   <!-- 글 내용 -->
        </div>
      </div>
    </div>
      
    <!-- 댓글 다는 공간 -->
    <div class="comment-area">
      <div class="input-comment">
        <textarea name="comment" id="comment"placeholder="댓글달기..."></textarea>
      </div>
      <div class="comment-btn">
        <a href="#">게시</a>
      </div>
    </div>
</body>
</html>