{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--material icons  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'css/main-style.css' %}">

  <title>Zootopia</title>
  </head>
  <body>
  <!-- 헤더 영역  -->
      <header>
        <div class="menu-btn">
          <a href="#">
            <img src="{% static 'image/menubar.png' %}" alt="메뉴바">
          </a> 
        </div>
        <!-- 검색기능 -->
      <form action="#">  
        <div class="input-box">
            <input type="text" placeholder="주소,장소,동물 검색" class="box-size">
        </div>
      </form>
      </header>

      <!-- 버튼 동물 찾기  -->
      <form action="#"></form>
        <div class="container">
          <div class="item item1"><a href="#">고양이</a></div>
          <div class="item item2"><a href="#">강아지</a></div>
          <div class="item item3"><a href="#">새</a></div>
          <div class="item item4"><a href="#">우중</a></div>
        </div>


        
        <footer> 
          <!-- 유해종 버튼 -->
          <div class="click click1"><a href="#"></a></div>
          <!-- 희귀종 버튼 -->
          <div class="click click2"><a href="#"></a></div>
          <!-- plus 버튼 -->
          <div class="click click3">
          <a href="#">
            <img src="{% static 'image/plus.png' %}" alt="plus 사진">
          </a></div>
        </footer>

  </body>
  </html>