{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <title>Search</title>
</head>
<body>
  <!-- 메인 컨테이너 시작 -->
  <div id="mainWrapper">
    <!-- 상단 검색 영역 시작 -->
    <div id="header">
      <div class="btn-area">
        <a href="{% url 'main' %}">
          <span>
            <img id="leftArrow" src="{% static 'image/left-arrow.png' %}" alt="이전 페이지">
          </span>
        </a>
      </div>
      <div class="input-area">
        <input class="input-box-search" type="text">
      </div>
    </div>
    <!-- 상단 검색 영역 끝 -->
    <!-- 하단 추천 영역 시작 -->
    <div id="mainContainer">
      <!-- 인기 검색어 시작 -->
      <div id="hotTopicArea">
        <p class="top-title">인기 검색어</p>
        

      </div>
      <!-- 인기 검색어 끝 -->
      <!-- 최근 글 시작 -->
      <div id="recentUpdateArea">

      </div>
      <!-- 최근 글 끝 -->
    </div>

  </div>
  <!-- 메인 컨테이너 끝 -->
</body>
</html>